# Netlify settings
[build]
    command = "cd docs/ && source /opt/buildhome/.rvm/scripts/rvm && rvm install ruby-3.3.9 && bundle install && jekyll build"
    publish = "docs/_site/"

[build.environment]
    PAGES_DISABLE_NETWORK = "1"

[[redirects]]
    from = "https://nfd.sigs.k8s.io/*"
    to = "https://release-0-17--kubernetes-sigs-nfd.netlify.app/:splat"
    status = 301
    force = true
