# Netlify settings
[build]
    command = "cd docs/ && bundle install && jekyll build"
    publish = "docs/_site/"

[build.environment]
    PAGES_DISABLE_NETWORK = "1"

[[redirects]]
    from = "https://nfd.sigs.k8s.io/*"
    to = "https://release-0-18--kubernetes-sigs-nfd.netlify.app/:splat"
    status = 301
    force = true
