#sources:
#  cpu:
#    cpuid:
##     NOTE: whitelist has priority over blacklist
#      attributeBlacklist:
#        - "BMI1"
#        - "BMI2"
#        - "CLMUL"
#        - "CMOV"
#        - "CX16"
#        - "ERMS"
#        - "F16C"
#        - "HTT"
#        - "LZCNT"
#        - "MMX"
#        - "MMXEXT"
#        - "NX"
#        - "POPCNT"
#        - "RDRAND"
#        - "RDSEED"
#        - "RDTSCP"
#        - "SGX"
#        - "SSE"
#        - "SSE2"
#        - "SSE3"
#        - "SSE4.1"
#        - "SSE4.2"
#        - "SSSE3"
#      attributeWhitelist:
#  kernel:
#    kconfigFile: "/path/to/kconfig"
#    configOpts:
#      - "NO_HZ"
#      - "X86"
#      - "DMI"
#  pci:
#    deviceClassWhitelist:
#      - "0200"
#      - "03"
#      - "12"
#    deviceLabelFields:
#      - "class"
#      - "vendor"
#      - "device"
#      - "subsystem_vendor"
#      - "subsystem_device"
