# noPublish: false
# extraLabelNs: ["added.ns.io","added.kubernets.io"]
# denyLabelNs: ["denied.ns.io","denied.kubernetes.io"]
# enableTaints: false
# labelWhiteList: "foo"
# resyncPeriod: "2h"
# restrictions:
#   disableLabels: true
#   disableTaints: true
#   disableExtendedResources: true
#   disableAnnotations: true
#   allowOverwrite: false
#   denyNodeFeatureLabels: true
#   nodeFeatureNamespaceSelector:
#    matchLabels:
#      kubernetes.io/metadata.name: "node-feature-discovery"
#    matchExpressions:
#      - key: "kubernetes.io/metadata.name"
#        operator: "In"
#        values:
#           - "node-feature-discovery"
# klog:
#    addDirHeader: false
#    alsologtostderr: false
#    logBacktraceAt:
#    logtostderr: true
#    skipHeaders: false
#    stderrthreshold: 2
#    v: 0
#    vmodule:
##   NOTE: the following options are not dynamically run-time configurable
##         and require a nfd-master restart to take effect after being changed
#    logDir:
#    logFile:
#    logFileMaxSize: 1800
#    skipLogHeaders: false
# leaderElection:
#   leaseDuration: 15s
#   # this value has to be lower than leaseDuration and greater than retryPeriod*1.2
#   renewDeadline: 10s
#   # this value has to be greater than 0
#   retryPeriod: 2s
# nfdApiParallelism: 10
