{{- define "metadata.oci_repo" -}}oci://gcr.io/k8s-staging-nfd/charts/node-feature-discovery
{{- end -}}

{{- define "metadata.oci_tag" -}}0.0.0-master
{{- end -}}

{{- define "metadata.docs_version" -}}master
{{- end -}}

{{- define "metadata.nfd_release" -}}master
{{- end -}}
