{{- define "metadata.oci_repo" -}}oci://registry.k8s.io/nfd/charts/node-feature-discovery
{{- end -}}

{{- define "metadata.oci_tag" -}}0.19.0
{{- end -}}

{{- define "metadata.docs_version" -}}v0.19
{{- end -}}

{{- define "metadata.nfd_release" -}}v0.19.0
{{- end -}}
