apiVersion: v1
kind: Pod
metadata:
  name: demo-cloverleaf-NUM
spec:
  containers:
    - name: demo-container-cloverleaf-NUM
      image: quay.io/kubernetes_incubator/node-feature-discovery-APP
      ports:
        - containerPort: 3551
          hostPort: 10001
  nodeSelector:
    feature.node.kubernetes.io/cpu-pstate.turbo: 'false'
  restartPolicy: Never
